In [40]:
import json 
import re
import os
import numpy as np
from astropy.table import Table
from astropy.io import ascii
import h5py
import sys
sys.path.append('../')
import utils as ul

#this block read the info, and do cutting
dir0 = os.getcwd()
t = Table.read('../../data/catalog_3_by_plot_einstien.csv', format='ascii.csv')

plate_all = t['plate'].data
mjd_all = t['mjd'].data
fiber_all = t['fiber'].data

In [47]:
import h5py
base_dir = '../../data/2/'
id_no_elg = []
for ii in range(len(plate_all)): #
    #ii = len(plate_all)-1
    file_name = '{}_{}.h5'.format(plate_all[ii],mjd_all[ii])
    h5_file = base_dir+file_name
    with h5py.File(h5_file, 'r') as f:
        arr = f['zans']
        plug = f['plug']
        zans_arr = arr[:]
        plug_arr = plug[:]
    #print('file {} read finished'.format(file_name))
    fibers = np.array([item[3] for item in zans_arr],dtype=np.int)  #refer to below to find index, Note index-1 !!!
    id_fiber = np.where(fibers == int(fiber_all[ii]))
    
    #extract the structure which save the spectrum info
    struct = zans_arr[id_fiber][0]
    plug_struct = plug_arr[id_fiber][0]
    #save some info
    #ra = struct[8]
    #dec = struct[9]
    #print(ra,dec)\
    #z_l = struct[12]
    #vdisp = struct[22]
    #still need 
    #1. i-band magnitude
    #2. sn of peak/second peak
    #3. einstein radius
    #4. wavelength of peak 
    src_type = plug_struct[18]
    src_type = src_type.replace(' ', '')
    
    if ii%100 == 1:
        print('read {} file'.format(ii))
        
    if src_type != 'ELG':
        id_no_elg.append(ii)

tnew = t[id_no_elg]
tnew.write('../../data/catalog_4_no_elg.csv',format='ascii.csv',overwrite=True)

read 1 file
read 101 file
read 201 file
read 301 file
read 401 file
read 501 file
read 601 file

   PLATE           LONG             10243
   TILE            LONG             16233
   MJD             LONG             58159
   FIBERID         LONG              1000
   RUN2D           STRING    'v5_13_0'
   RUN1D           STRING    'v5_13_0'
   OBJID           LONG      Array[5]
   OBJTYPE         STRING    'QSO             '
   PLUG_RA         DOUBLE           140.95719
   PLUG_DEC        DOUBLE           35.319402
   CLASS           STRING    'QSO   '
   SUBCLASS        STRING    '                   '
   Z               FLOAT           1.34611
   Z_ERR           FLOAT       0.000236797
   RCHI2           FLOAT          0.998443
   DOF             LONG              4529
   RCHI2DIFF       FLOAT        0.00256312
   TFILE           STRING    'spEigenQSO-55732.fits   '
   TCOLUMN         LONG      Array[10]
   NPOLY           LONG                 3
   THETA           FLOAT     Array[10]
   THETA_COVAR     FLOAT     Array[10, 10]
   VDISP           FLOAT           0.00000
   VDISP_ERR       FLOAT           0.00000
   VDISPZ          FLOAT           0.00000
   VDISPZ_ERR      FLOAT           0.00000
   VDISPCHI2       FLOAT           0.00000
   VDISPNPIX       FLOAT           0.00000
   VDISPDOF        LONG                 0
   WAVEMIN         FLOAT           3601.64
   WAVEMAX         FLOAT           10368.1
   WCOVERAGE       FLOAT          0.453600
   ZWARNING        LONG                 4
   SN_MEDIAN       FLOAT     Array[5]
   SN_MEDIAN_ALL   FLOAT          0.942090
   CHI68P          FLOAT          0.970984
   FRACNSIGMA      FLOAT     Array[10]
   FRACNSIGHI      FLOAT     Array[10]
   FRACNSIGLO      FLOAT     Array[10]
   SPECTROFLUX     FLOAT     Array[5]
   SPECTROFLUX_IVAR
                   FLOAT     Array[5]
   SPECTROSYNFLUX  FLOAT     Array[5]
   SPECTROSYNFLUX_IVAR
                   FLOAT     Array[5]
   SPECTROSKYFLUX  FLOAT     Array[5]
   ANYANDMASK      LONG          92274688
   ANYORMASK       LONG         265224192
   SPEC1_G         FLOAT           12.3442
   SPEC1_R         FLOAT           35.5222
   SPEC1_I         FLOAT           29.6720

   OBJID           LONG      Array[5]
   HOLETYPE        STRING    'OBJECT'
   RA              DOUBLE           144.50975
   DEC             DOUBLE           21.193972
   MAG             FLOAT     Array[5]
   STARL           FLOAT           0.00000
   EXPL            FLOAT           0.00000
   DEVAUCL         FLOAT           0.00000
   OBJTYPE         STRING    'GALAXY          '
   XFOCAL          DOUBLE           227.19944
   YFOCAL          DOUBLE           135.40008
   SPECTROGRAPHID  LONG                 2
   FIBERID         LONG               941
   THROUGHPUT      LONG             23771
   PRIMTARGET      LONG                 0
   SECTARGET       LONG                 0
   OFFSETID        LONG                 1
   SCI_EXPTIME     FLOAT           0.00000
   SOURCETYPE      STRING    'ELG             '
   LAMBDA_EFF      FLOAT           7500.00
   ZOFFSET         FLOAT           0.00000
   BLUEFIBER       LONG                 1
   BOSS_TARGET1    LONG64                         0
   BOSS_TARGET2    LONG64                         0
   ANCILLARY_TARGET1
                   LONG64                         0
   ANCILLARY_TARGET2
                   LONG64                         0
   EBOSS_TARGET0   LONG64                         0
   EBOSS_TARGET1   LONG64            17592186044416
   EBOSS_TARGET2   LONG64           562949953421312
   EBOSS_TARGET_ID LONG64                  29058008
   THING_ID_TARGETING
                   LONG                 0
   RUN             LONG                 0
   RERUN           STRING    '    '
   CAMCOL          LONG                 0
   FIELD           LONG                 0
   ID              LONG                 0
   CALIBFLUX       FLOAT     Array[5]
   CALIBFLUX_IVAR  FLOAT     Array[5]
   CALIB_STATUS    LONG      Array[5]
   SFD_EBV         FLOAT         0.0253791

In [15]:
from astropy.table import Table
t = Table([(2, 3, 2, 1), (8, 7, 6, 5)], names=('a', 'b'))
t.add_index('a')

In [16]:
t

<Table length=4>
  a     b
int64 int64
----- -----
    2     8
    3     7
    2     6
    1     5

In [19]:
t['a']

<Column name='a' dtype='int64' length=4>
2
3
2
1

In [30]:
xx = t[0:2]

In [31]:
xx.colnames

['a', 'b']

In [33]:
xx

<Table length=2>
  a     b
int64 int64
----- -----
    2     8
    3     7

In [35]:
yy = t[0]

In [36]:
yy.as_void()

(2, 8)

In [37]:
idx = np.array([0,2])

In [38]:
t[idx]

<Table length=2>
  a     b
int64 int64
----- -----
    2     8
    2     6

In [39]:
idy = [0,2]
t[idy]

<Table length=2>
  a     b
int64 int64
----- -----
    2     8
    2     6